{% extends 'base.html.twig' %}

{% block title %}Mot de passe perdu{% endblock %}

{% block body %}
<h1>Mot de passe perdu</h1>

{{ form_start(resetForm) }}
{{ form_row(resetForm.plainPassword) }}
<button class="btn btn-primary">Valider</button>
{{ form_end(resetForm) }}
{% endblock %}