{% extends 'base.html.twig' %}

{% block title %}New Upload
{% endblock %}

{% block body %}
	<h1>Create new Upload</h1>

	{{ include('upload/_form.html.twig') }}

	{% if is_granted('ROLE_ADMIN') %}
		<a href="{{ path('render_show', { render: upload.render.id }) }}">back to list</a>
	{% endif %}
{% endblock %}
